.calc{
    display: flex;
    justify-content: center;

}
.btn-calc{
    display: flex;
    justify-content: space-between;
}

.btn-calc button{
    margin: 1% 0;
    flex-grow: 1;
}

.oper-calc{
    display: flex;
    justify-content: space-between;
}

.oper-calc button{
    margin: 1% 0;
    flex-grow: 1;
}

.result{
    display: flex;   
}

.result button{
flex-grow: 1;
}