
 .cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 20vh;
    background-image: url("../img/banner-1440x300-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
 
.container{
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    color: white;
}

.banner-1{
    flex-grow: 1;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    
}

.banner-2{
    flex-grow: 1;
    background-color: rgb(255, 1, 179);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
   

}
.conteudo{
    flex-grow: 5;
    background-color: black;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32589f;
    color: #fff;
    height: 20vh;
}